@import
	url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');

.formtable {
	width: 400px;
	padding: 10px;
	border: 1px solid blue;
}

.form-group_2 {
	width: 80%;
	align: center;
	margin: 0 auto;
}

.split-form-container {
	width: 100%;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}

.first-split-form {
	width: 50%;
	height: 100%;
	float: left;
}

.second-split-form {
	height: 100%;
	width: 50%;
	float: right;
}

.submit-button-div {
	text-align: center;
	margin-top: 10px;
}

.forminputerror {
	color: red;
}

.forminputvalid {
	color: green;
}

.form-control_2 {
	margin-bottom: 20px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.passerror {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.passvalid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

.loginerror {
	color: red;
}

div.footer {
	font-size: small;
	color: gray;
}

div.content {
	position: relative;
	padding: 0, 10px, 10px, 5px;
}

a.login {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}

a.title {
	color: white;
	font-size: 35px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #eee;
	color: #444;
}